<p id="notice"><%= notice %></p>

<h1>Books</h1>
<ul class="book_list">
    <% @books.each do |book| %>
      <li class="book_entry">
        <h2><%= book.title %></h2>
        <div class="isbn"><%= book.isbn %></div>
        <div class="author"><%= book.author.name %></div >
        <div class="publisher"><%= book.publisher.name %></div >
        <div class="actions"><%= link_to 'Show', book %>
        <%= link_to 'Edit', edit_book_path(book) %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </li>
    <% end %>
</ul>
<!--table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Isbn</th>
      <th>Author</th>
      <th>Publisher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.isbn %></td>
        <td><%= book.author.name %></td>
        <td><%= book.publisher.name %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table-->

<br>
<% if user_signed_in? %>
<%= link_to 'New Book', new_book_path %>
<% else %>
<%= link_to 'Login to add yours',"/auth/auth0" %>
<% end %>