<p id="notice"><%= notice %></p>
<div class="container">
<header class="book_list_header">
<h1>Books</h1>
<% if user_signed_in? %>
<%= link_to '+', new_book_path,class: "btn btn-circle btn-success" %>
<% else %>
<%= link_to 'Login to add a new book',"/auth/auth0" %>
<% end %>
</header>
<ul class="book_list">
    <% @books.each do |book| %>
      <li class="book_entry">
        <h2><%= book.title %></h2>
        <div class="isbn"><%= book.isbn %></div>
        <div class="author"><%= book.author.name %></div >
        <div class="publisher"><%= book.publisher.name %></div >
        <div class="actions"><%= link_to 'Show', book %>
        <%= link_to 'Edit', edit_book_path(book) %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </li>
    <% end %>
</ul>
</div>
<br>
